<div class="bg-color">

    <!-- property binding interpolation -->

    {{title}}


    <!-- (eventName) buit-in eventleri var -->

    <button (click)="clickMe()">Beni Tıkla</button>

    <!-- change detection mekanizması sayesinde hmtl ve ts dosyası güncel olan değeri yakalr -->

    <button (click)="counter = counter + 1">(+)</button>
    <button (click)="counter = counter - 1">(-)</button>


    <span>Değer: {{counter}}</span>

    <!-- bir html elementine uygulanan htmlde olmayan anguların kazandırdığı özelliklere directive deriz. *ngIf ise built-in drective -->

    <!-- html domda olmayan bir elementin bir koşula göre domda görünmesi sağlamak -->

    <!-- *ngIf html dom üzerine append ve remove dan söz edebiliriz. -->
    <span *ngIf="counter > 10"> Counter 10 da büyük</span>

    <!-- two way binding ngModel ile yapabiliriz. hem eventbinding yapar hemde property binding yapar. [] property yazımı () event yazımı -->

    <!-- ngModel FormsModule altından gelen bir özellik. AppModule bunu tanımlamak gerekir. -->

    <input type="checkbox" [(ngModel)]="toggle" /> Toggle

    <!-- display true yada false, style üzerinden display değiştirir.*ngIf ile hidden arasındaki fark ne??  -->
    <span [hidden]="toggle"> {{toggle}} </span>


    <!-- angular built-in directive *ngFor -->

    <!-- jsdeki forof aynısıdır. -->
    <ul *ngFor="let item of names let i=index">
        <span>{{i}}. sıradaki arkadaşın adı {{item}} dir.</span>
    </ul>


</div>